<h3>Notification Previews</h3>
<p><button class="toggle-notification-status btn btn-primary">Toggle notifications</button></p>
<ul class="list-group">
  <% Notification.instance_methods(false).each do |n| %>
    <% next if /^_/.match(n.to_s) %>
    <li class="list-group-item"><%= link_to n.to_s.gsub('_', ' ').capitalize, "#{admin_notifications_path}/#{n.to_s}" %></li>
  <% end %>
</ul>
