An assessment has been received for one of your classes: 

= render :partial => 'shared/notification_course_info'}, :locals => { course: @course, test: @test  }

Review the feedback here:

- if @test
  (link to assessment)
- else
  #{"#{site_url}#{assessment_path(@assessment)}"}
