<p>The class request for <%= @course.title %> has been cancelled. We maintain a record of this class request.</p>
<p>If you have any questions or additional details to share, please add a note to the <a href='<%= "http://#{ROOT_URL}#{course_path(@course)}" %>'>class request</a>.</p>
