%p
  The class request for
  %em= @course.title
  has been cancelled. We maintain a record of this class request.
%p
  If you have any questions or additional details to share, please add a note to the
  = succeed "." do
    %a{:href => "http://#{site_url}#{course_path(@course)}"} class request
