The class request for #{@course.title} has been cancelled. We maintain a record of this class request.

If you have any questions or additional details to share, please add a note to the class request:

\#{"http://#{site_url}#{course_path(@course)}"}
