%p The following homeless classes have yet to be assigned a location. If any of them are appropriate for your library or archive, please edit the course and assign it.
- @courses.each do |course|
  = render :partial => 'shared/notification_course_info', :locals => { course: course, test: @test  }
  %p
    - if @test
      %a{ href: '#' } Edit this course (linked to course edit form)
    - else
      %a{:href => "http://\#{site_url}\#{edit_course_path(course.id)}"} Edit this course
  %br/
  %br/

- unless @custom_text.blank?
  = sanitize @custom_text
