<p>Your class request has been successfully submitted for <%= @course.title %>.</p>
<p>You may review your request <a href='<%= "http://#{ROOT_URL}#{course_path(@course)}" %>'>here</a> and update it with any new details or comments by leaving a note for staff.</p>
<p>Thank you for your request. We look forward to working with you.</p>

