<p>A class has been transferred to <%= @course.repo_name %>. This may be a formerly Homeless class or a class another repository has suggested would be more appropriate for <%= @course.repo_name %>.</p>
<% render :partial => 'shared/notification_course_info', :locals => { @course } %>
</p>
<p>If you wish to manage or confirm details, claim this class or assign it to another staff member at <%= @course.repository %>, please <a href='<%= "http://#{ROOT_URL}#{edit_course_path(@course)}" %>'>edit the course</a>.</p>
