<p>This is a test email to verify that the Class Request Tool email system is working.</p>
<p><b>Delayed jobs:</b></p>
<% if @delayed_jobs.nil? %>
  <p>(No jobs queued)</p>
<% else %>
  <p>There are notifications in the queue.</p>
<% end %>
  