%p This is a test email to verify that the Class Request Tool email system is working.
%p
  %b Delayed jobs:
- if @delayed_jobs.nil?
  %p (No jobs queued)
- else
  %p There are notifications in the queue.
