# Ignore bundler config
/.bundle

# Ignore .env
.env

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
#config/mailer.yml.erb
#config/customization.yml

public/uploads/*

# capistrano stuff to ignore
config/deploy.rb
config/deploy/*.rb

# Ignore any bower componenets
bower_components

# various editor/config files
\#*
.#*
*.swp

# Ignore cache files
*cache