# Ignore bundler config
/.bundle

# Ignore .env
.env

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
.bash_history
# Config files are required during the build process, which is not ideal, but they need to be included in the docker image for now
#config/mailer.yml.erb
#config/database.yml
#config/customization.yml

public/uploads/*

# capistrano stuff to ignore
config/deploy.rb
config/deploy/*.rb

# Ignore any bower componenets
bower_components

# various editor/config files
\#*
.#*
*.swp

# Ignore cache files
*cache

# Ignore local postgresql database directory
postgresql/
data/