<% content_for :header do %>Repositories<% end %>

<div>
  <% @repositories.each do |repo| %>	
    <%= link_to repo.name, repo %>
    <% if current_user.try(:admin?) %>
	   - <%= link_to('Edit', edit_repository_path(repo), :class => "action-edit") %> | <%= link_to('Delete', repository_path(repo), :confirm => "Are you sure?", :method => :delete) %>
    <% end %>
	<br /><br />
  <% end %>
  
  <% if current_user.try(:admin?) %>
    <%= link_to("Add New Repository", new_repository_path ) %>
  <% end %>
</div>
