<%# LOCALS: index, section_index, admin %>
<div id="session-<%= index %>" class="session session-<%= index %> col-xs-12">
  <%= render :partial => 'shared/forms/section_block',
             :locals => {:display_section => 1,
                         :session_i => index,
                         :section_index => section_index,
                         :admin => admin} %>
  <button class="add_section btn btn-default">Add Section</button>
</div> <!-- END .session -->
