<h1>Users</h1>

<div>
  	<table id="users-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Email</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @users.each do |user| %>	
	    	<tr>
	  	  <td><%= link_to(user.email, user ) %></td>
		  <td><%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
	      <% if current_user.try(:admin?) %>
	   		 | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
</div>
<%= will_paginate @users %>
