The Class Request Tool was developed with
 generous support from  <a href="https://osc.hul.harvard.edu/liblab">Harvard Library Lab</a>, 
<a herf="http://hul.harvard.edu/ois/">Library Technology Services</a>, the <a href="http://cyber.law.harvard.edu/">Berkman Center</a>, and the <a href="http://www.arcadiafund.org.uk/">Arcadia Fund</a>.
