Thanks to the generous support of the
<a href="https://lab.library.harvard.edu">Harvard Library Lab</a>,
the&nbsp;<a href="https://osc.hul.harvard.edu">Harvard Library Office for Scholarly Communication</a>,
the&nbsp;<a href="http://cyber.law.harvard.edu">Berkman Center for Internet &amp;&nbsp; Society</a>, and the&nbsp;<a href="http://www.arcadiafund.org.uk/">Arcadia Fund</a>.
