The Class Request Tool was developed with the generous support of the
%a{:href => "http://lab.library.harvard.edu"}> Harvard Library Lab
,
the&nbsp;
%a{:href => "http://osc.hul.harvard.edu"}> Harvard Library Office for Scholarly Communication
,
the&nbsp;
%a{:href => "http://cyber.law.harvard.edu"}> Berkman Center for Internet &amp;&nbsp; Society
, and the&nbsp;
%a{:href => "http://www.arcadiafund.org.uk/"}> Arcadia Fund
\.
