The Class Request Tool was developed with the generous support of the
%a{:href => "http://www.arcadiafund.org.uk/"} Arcadia Fund,
the
%a{:href => "http://cyber.law.harvard.edu"} Berkman Center for Internet&nbsp;&amp;&nbsp;Society, 
the 
%a{:href => "http://lab.library.harvard.edu"} Harvard Library Lab, 
%a{:href => "http://huit.harvard.edu/services/library-technology-services"} Harvard Library Technology Services,
and 
%a{:href => "http://hcl.harvard.edu/libraries/houghton/"} Houghton Library.

