<p>
Here you may request a class session at participating Harvard special collections libraries/archives. Sessions can range from brief one hour surveys of collection materials chosen by faculty to reflect course themes, to sessions in which library/archive staff select material and prepare presentations with the wealth of primary resources at Harvard.
</p>
<p>
To begin, select a library/archive you would like to work with.  You will then be prompted to sign into your account, or to create one.  Next, we will ask you to provide course details and give us a sense of your goals for the visit.  Once you have submitted this form, staff will contact you directly and begin making arrangements.  We look forward to working with you!
</p>