<p>
Use this tool to request a class session at a participating Special collection library at Harvard.  These sessions can range from brief one hour surveys of materials chosen by faculty to reflect course themes, to sessions in which library staff select material and prepare presentations on the wealth of primary resources at Harvard.
</p>
<p>
Please note that some of the information you provide may be used to promote the variety of classes being offered at Special Collections at Harvard.
</p>
<p>
To begin, select a Library/Archive you would like to work with.
</p>