<p>
Welcome… [describe function of this system and range of
services which are included].
</p>
<p>
[Describe requirements of participation (provide information,
some of which may be used to advertise the array of classes
hosted…]
</p>