<p>
Teach with us. Class sessions at participating special collections libraries and archives can range from surveys of faculty-selected collection material to sessions for which our staff provide guided explorations. Bring your class in for an hour or schedule several visits for in-depth investigations of archives, manuscripts, maps, rare books, and more.  
</p>
<p>
To submit a class request, select a site below or let staff help you select the most appropriate host. You'll be asked to create an account which will allow you to submit requests, communicate with staff, and revisit the details of your past classes. (Please note: <a href="https://hcl.harvard.edu:8001/forms/requests/instruction.cfm" target="_new">general library instruction sessions</a> are scheduled separately.)
</p>
