<% if user_signed_in? %>
  <h2>Welcome, <%= current_user.first_name %>!</h2>
<% else %>
  <h2>Welcome!</h2>
<% end %>
<br />
<%= render :partial => 'shared/welcome_text' %>

<div id="welcome-left">
  	<h3>Libraries/Archives</h3>
	<p>
	
	<% @repositories.each do |repo| %>
	  <%= link_to repo.name, repo %><br />
	<% end %>
	
	</p>
</div>

<div id="welcome-right">
  	<h3>Recent Courses</h3>
	  <% unless @courses.nil? %>	
	  	<% @courses.each do |course| %>	
	      
		    <li><%= link_to(course.title, summary_course_url(course) ) %></li>
		  
	    <% end %>
	  <% else %>
		None yet!
	  <% end %>
</div>
