<h2>Welcome!</h2>
<br />

<%= render :partial => 'shared/welcome_text' %>

To begin, choose a Repository:
<%= form_tag new_course_path, :method => :get do %>
<p>
  <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name") %>
  <%= submit_tag "Go!" %>
</p>
<% end %>
