%h3 Welcome
To continue, you will need an account so we can communicate with you about your classes. Please select your method:
%br/
%br/
%p
  = link_to "Sign In/Sign Up", new_user_session_path
  OR #{link_to "Sign In with Harvard PIN", user_hauthproxy_sign_in_path}
