# default customizations
development:
  institution: Miskatonic
  institution_long: Miskatonic University
  tool_name: Special Collections and Archives Class Request Tool
  tool_tech_admin_name: Jo Techie # the name of the person who is the *technical* administrator of this application
  tool_tech_admin_email: joTech@miskatonic.edu # that person's email address
  tool_content_admin_name: Devon Content  # name of the person who is the administrator of *content*
  tool_content_admin_email: devContent@miskatonic.edu  # that person's email address
  default_email_sender: class_request@miskatonic.edu # the sender address for email notificatins
  slogan: Come teach with our archive materials!  # this appears above the banner
  collaboration_options: # a comma-delimited list
  feedback_link: # a URL to a feedback form (or a mailto:) If empty, the Questions/Feedback link will *not* appear on the top menu
  welcome: <div class="panel-body">\r\n<p>Teach with us!</p></div> # html-ized welcome message
  scheduling_intro: >
    <p>Depending on your teaching needs and class size, we offer the following options:</p>
    <ul>
      <li>Single class sessions (most common request)</li>
      <li>Multiple class sessions (bring a class more than once a semester)</li>
      <li>Multiple sections (for large classes that exceed room capacity)</li>
    </ul>
    <p>Please enter your preferred date and time for each class visit. If your only options for scheduling fall outside normal business hours, please use the note field to detail your availability.</p>
    <p>Final scheduling of a class visit is subject to both room and staff availability.</p>

qa:
  institution: Miskatonic
  institution_long: Miskatonic University
  tool_name: Special Collections and Archives Class Request Tool
  tool_tech_admin_name: Jo Techie # the name of the person who is the *technical* administrator of this application
  tool_tech_admin_email: joTech@miskatonic.edu # that person's email address
  tool_content_admin_name: Devon Content  # name of the person who is the administrator of *content*
  tool_content_admin_email: devContent@miskatonic.edu  # that person's email address
  default_email_sender: class_request@miskatonic.edu # the sender address for email notificatins
  slogan: Come teach with our archive materials!  # this appears above the banner
  collaboration_options: # a comma-delimited list
  feedback_link: # a URL to a feedback form (or a mailto:) If empty, the Questions/Feedback link will *not* appear on the top menu
  welcome: <div class="panel-body">\r\n<p>Teach with us!</p></div> # html-ized welcome message
  scheduling_intro: >
    <p>Depending on your teaching needs and class size, we offer the following options:</p>
    <ul>
      <li>Single class sessions (most common request)</li>
      <li>Multiple class sessions (bring a class more than once a semester)</li>
      <li>Multiple sections (for large classes that exceed room capacity)</li>
    </ul>
    <p>Please enter your preferred date and time for each class visit. If your only options for scheduling fall outside normal business hours, please use the note field to detail your availability.</p>
    <p>Final scheduling of a class visit is subject to both room and staff availability.</p>

test:

quality:

production:
