mailer:
  development:
    delivery_method: :smtp
    settings:
      :address:        smtp.gmail.com
      :domain:         localhost
      :port:           587
      :user_name:      <your gmail account>
      :password:       <your password>
      :authentication: :plain
  qa:
    delivery_method: :smtp
    settings:
      address: "example.com"
      port: 25
      authentication: :plain,
      enable_starttls_auto: false
      tls: false
      domain: "example.com"
  production:
    delivery_method: :smtp
    settings:
      address: "example.com"
      port: 25
      authentication: :plain,
      enable_starttls_auto: false
      tls: false
      domain: "example.com"