= semantic_form_for(@staff_involvement) do |f|
  = f.input :involvement_text, :label => 'Staff Service Text'
  = f.input :repositories, :as => :check_boxes, :label => 'Belonging to these Libraries/Archives: '
  = f.action :submit,  :as => :button, :button_html => {:class => 'btn btn-primary'}
