.col-xs-12.calendar
  - if (@course.repository.nil? || @course.repository.blank?) || (@course.repository.calendar.nil? || @course.repository.calendar.blank?)
    %p This Library/Archive does not have a publicly available calendar. Please submit your request with your preferred times and a staff member will get back to you.
  - else
    %p
      = link_to image_tag('calendar_icon.png', :class => "cal-icon")+ " View Calendar to see availability", "#{@course.repository.calendar}", |
        :onclick=>"window.open(this.href,'view_calendar', 'height=600, width=600');return false;"                                             |
.form_full_width.sessions
  - section_index = 0
  - @course.sessions.each do |i, sesh|
    = render :partial => 'session_block', :locals => { :sesh => sesh, :session_count => i, :section_index => section_index }
    - section_index += sesh.length

.form_full_width
  %button.add_session.btn.btn-local-action Add A Session
  .glyphicon.glyphicon-info-sign{ "data-help_info" => "Add sessions if you need to meet more than once to view all the materials." }
