/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require jquery-tablesorter/theme.dark
 */

 /* Header font: Vollkorn. Only normal style is supported. No italic. */
 @charset "utf-8";
 @font-face {
   font-family: "Vollkorn";
   src: url("vollkorn-medium-webfont.woff") format("woff");
   src: url("Vollkorn-Medium.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: "Vollkorn";
   src: url("vollkorn-semibold-webfont.woff") format("woff");
   src: url("Vollkorn-Semibold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
 }

 /* Body font: Roboto */
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
 }
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Italic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
 }
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-BoldItalic.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
 }

 @import "bootstrap";
 @import "bootflat";
 @import "bootstrap_and_overrides";
 @import "formtastic-changes";
 @import "jquery-ui-timepicker-addon";
 @import "global";
 @import "courses";
 @import "repositories";
 @import "dashboard";
 @import "welcome";
