/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

 /* Header font: Vollkorn. Only normal style is supported. No italic. */
 @charset "utf-8";
 @font-face {
   font-family: "Vollkorn";
   src: url("vollkorn-medium-webfont.woff") format("woff");
   src: url("Vollkorn-Medium.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: "Vollkorn";
   src: url("vollkorn-semibold-webfont.woff") format("woff");
   src: url("Vollkorn-Semibold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
 }

 /* Body font: Roboto */
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
 }
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-Italic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
 }
 @font-face {
   font-family: "Roboto";
   src: url("Roboto-BoldItalic.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
 }
 
@import "iefix";
/* @import "bootstrap-sprockets"; */

/* bootstrap-sass using bower */
/* Local Bootstrap overrides */
@import "bootstrap_local";
$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";


/* Vendor styles */
@import "icheck/skins/flat/flat";
@import "jquery-tablesorter/css/theme.bootstrap";
@import "jquery-tablesorter/css/filter.formatter.css";
@import "jquery-tablesorter/addons/pager/jquery.tablesorter.pager";
@import "jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon";
@import "qtip2/jquery.qtip.css";

/* Other local and overrides */
@import "overrides";
@import "formtastic-changes";
@import "global";

/* model/controller styles */
@import "courses";
@import "repositories";
@import "dashboard";
@import "welcome";
@import "affiliates";

