/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap-responsive.css 
 *= require bootstrap
 *= require jquery-tablesorter/theme.dark
 *= require_tree .
 */

 @charset "utf-8";

html,body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
}

#footer {
  background-color: #f8ead8;
  padding: 20px 0px 20px 0px;
}

#feedback {
  float: right; 
  border:1px dashed black; 
  padding: 5px;	
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#welcome-left {
	float: left;
	width: 40%;
}

#welcome-right {
	float: right;
	width: 50%;
	
}

#welcome-middle {
	float: left;
	padding-left: 10px;
	width: 45%;
}

#dash-wrap {
	float: left;
	width: 100%;
}

#dash_widget {
	width: 44%; 
	float: left;
	padding-right: 50px;
	padding-bottom: 10px;
}

.yellow-box {
	border: 1px solid #df7e0a; 
	padding: 10px; 
	background-color: #f7ec9b;
}

#form_wrapper {
	width: 100%;
	float: left;
}

#form_col1 {
	width: 30%; 
	float: left;
	padding-right: 50px;
	padding-bottom: 10px;
}

#form_col2 {
	width: 60%; 
	float: left;
	padding-bottom: 10px;
}
#form_full_width {
	width: 96%; 
	float: left;
	padding-bottom: 10px;
}

#form_date1 {
	width: 20%; 
	float: left;
	padding-right: 30px;
	padding-bottom: 10px;
}

th { 
    background-image: url(../img/small.gif);     
    cursor: pointer; 
    font-weight: bold;
}

.controls {
	display: inline-block;
}

.pager {
	position: relative;
	top: 0px;
}
