div.deleted {
  opacity: 0.5;
}

div.session {
  @include clearfix();
  border: 1px solid #999;
  padding:16px;padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
  .section {
    padding: 1em;
    border-top: 1px solid #eee;
    &:first-child {
      border-top: none;
    }
  }
}

input[type=number] {
  max-width: 5em;
}

/* course/#/summary */
.summary-label {
  font-weight: bold;
}

ul.summary-info {
  list-style: none outside none;
  padding-left: 1em;
  li {
    padding-bottom: 0.2em;
  }
}
/* styling for course form */

span .form_wrapper  h4 {
	      color: #A51C30;
}

