div.deleted {
  border: 1px dashed #333;
  opacity: 0.5;
}

div.session {
  @include clearfix();
  &:first-child button.delete_session {
    display:none;
  }
  :first-child + .section button.delete_section {
    display:none;
  }
}
