.dash-wrap {
	float: left;
	width: 100%;
  > .tab-pane > h4 {
    margin-bottom: 1em;
    font-style: italic;
  }
}

.dash_widget {
	width: 48%;
	float: left;
  padding-bottom: 10px;
  ul {
    list-style-type:none;
  }
  &:first-child {
	  margin-right: 4%;
  }
}

#homeless .dash_widget {
  width: 100%;
  ul > li {
    display:inline-block;
    &:after {
      content: ' | ';
      color: #aaa;
    }
    &:last-child:after {
      content: none;
    }

  }
}