.dash-wrap {
	float: left;
	width: 100%;
  > .tab-pane > h4 {
    margin-bottom: 1em;
    font-style: italic;
  }
}

.dash_widget {
	width: 48%;
	float: left;
  padding-bottom: 10px;
  &:first-child {
	  margin-right: 4%;
  }

}
