.dash-wrap {
  @include make-sm-column(12);
  > .tab-pane > h4 {
    margin-bottom: 1em;
    font-style: italic;
  }
}
 @media (min-width: $screen-md-min) {
   .dash_widget {
     @include make-md-column(6);
   }
 }
 @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
   .dash_widget {
     @include make-sm-column(12);
   }
 }
.dash_widget {
  padding-bottom: 10px;
  ul {
    list-style-type:none;
  }
}

#homeless .dash_widget {
  @include make-md-column(12);
  ul > li {
    display:inline-block;
    &:after {
      content: ' | ';
      color: #aaa;
    }
    &:last-child:after {
      content: none;
    }

  }
}