$crimson: #A51C30;
$ink: #1E1E1E;
$mortar: #8C8179;
$parchment: #F3F3F1;
$slate: #8996A0;
$shade: #BAC5C6;
$indigo: #293352;
$bluebonnet: #4E84C4;
$ivy: #52854C;
$pear: #C3D7A4;
$saffron: #D16103;
$creme: #F4EDCA;
$gold: #C4961A;
$lemon: #FFDB6D;

.color-test {
  padding: 20px 0 20px 40px;
  width: 100%;
  margin-bottom: 2px;
  color: white;
  text-shadow: 1px 1px #333;
  &.crimson {
    background-color: $crimson;
  }
  &.ink {
    background-color: $ink;
  }
  &.mortar {
    background-color: $mortar;
  }
  &.parchment {
    background-color: $parchment;
  }
  &.slate {
    background-color: $slate;
  }
  &.shade {
    background-color: $shade;
  }
  &.indigo {
    background-color: $indigo;
  }
  &.bluebonnet {
    background-color: $bluebonnet;
  }
  &.ivy {
    background-color: $ivy;
  }
  &.pear {
    background-color: $pear;
  }
  &.saffron {
    background-color: $saffron;
  }
  &.creme {
    background-color: $creme;
  }
  &.gold {
    background-color: $gold;
  }
  &.lemon {
    background-color: $lemon;
  }
}