#welcome-right li {
 list-style: none outside none;
}

.featured-image {
  width: 100%;
  img {
    border-radius: 3px;
    width: 100%;
  }
  .caption {
    text-align: center;
    margin-top: 2px;
    padding: 10px;
    min-height: 100px;
    font-size: $font-size-base;
    color: $gray-dark;
    background-color: $brand-info;
    border-radius: 3px;
  }
}
