<div class="color-test crimson">crimson</div>
<div class="color-test ink">ink</div>
<div class="color-test mortar">mortar</div>
<div class="color-test parchment">parchment</div>
<div class="color-test slate">slate</div>
<div class="color-test shade">shade</div>
<div class="color-test indigo">indigo</div>
<div class="color-test bluebonnet">bluebonnet</div>
<div class="color-test ivy">ivy</div>
<div class="color-test pear">pear</div>
<div class="color-test saffron">saffron</div>
<div class="color-test creme">creme</div>
<div class="color-test gold">gold</div>
<div class="color-test lemon">lemon</div>
