.color-test.crimson crimson
.color-test.ink ink
.color-test.mortar mortar
.color-test.parchment parchment
.color-test.slate slate
.color-test.shade shade
.color-test.indigo indigo
.color-test.bluebonnet bluebonnet
.color-test.ivy ivy
.color-test.pear pear
.color-test.saffron saffron
.color-test.creme creme
.color-test.gold gold
.color-test.lemon lemon
